body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
#messageBox {
  border: solid 2px red;
  background-color: #eeeeee;
  padding: 5px;
}